.navbar-nav{
    line-height: 4;
}
.navbar-light .navbar-nav .nav-link.active {
    color: #16a085;
}
.logo-text{
    padding-left: 60px;
}
.nav-link h1{
   color: #16a085;
}
.menu-font-size{
    font-size: 17px;
}

@media only screen and (max-width: 600px) {
    .navbar-nav{
        line-height: normal;
    }
    .logo-text{
        padding-left: 0;
    }
  }